input, label{
  font-size: 1em;
  margin: 5px 0;
  padding-left: 5px;
}

span {
  color: red;
}


#main{
  font-size: 1.1em;
  margin: 50px auto;
  width: 370px;
}


#culate{
  margin-left: 63px;
  width: 70px;
}


#width-validation,
#height-validation{
  position:absolute;
  width:200px;
  height:25px;
  right:100px;
  color:red;
}


#width-validation{
  top:55px;
}

#height-validation{
  top:90px;
}
